@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/*font-family: 'Oswald', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/*font-family: 'Merienda', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
/*font-family: 'Vidaloka', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,800&display=swap");
/* font-family: 'Vollkorn', serif; */

@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");
/* font-family: 'Yanone Kaffeesatz', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

body {
  margin: 15px 30px 15px 30px; /* TRBL */
  background: url("SpoonScoop images/woodlandbck.jpg") repeat;
  background-attachment: fixed;
  background-size: 100%;
}

/* * {
  font-family: "Merienda", cursive;
} */

.logoimg {
  float: left;
  margin: 0px 30px 10px 10px;
  box-sizing: border-box;
}

nav {
  margin-top: 5%;
  padding-left: 20px;
  background-color: #ffc288;
  overflow: hidden;
  text-decoration: none;

}
nav a {
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 0px;
    font-size: 145%;

  text-decoration: none;
  text-transform: uppercase;
  
  color: black;
  text-align: center;
  padding: 26px 27px 25px 27px;
  /* padding-bottom: 20px; */
  margin: 0px 5px;
  float: left;
  
}
nav a.active
{
    background-color: #fffbdf;
    border-radius: 50px;
    padding: 16px 27px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;

    color:#83460a;
}
nav a:hover:not(.active){
  background-color: #fffbdf;
  border-radius: 50px;
  padding: 16px 27px;
  padding-bottom: 12px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;

  color:#83460a;
}
form {
  font-family: "Bebas Neue", cursive;
}
.bodyform {
  background-color: #f3f3f3;
  font-family: "Bebas Neue", cursive;
  font-stretch: extra-expanded;
  letter-spacing: 0.65px;
  padding: 15px 20px 50px 20px;
  border: 1.5px solid #393e46;
  margin: 17%;
  font-size: 1.25rem;
}

h1 {
  background-color: #6f4a8e;
  background-color: #ffc288;
  background-clip: border-box;
  border-radius: 15px;
  text-align: center;
  color: #ffcb74;
  color: #000;
  /* background-image: url("SpoonScoop images/dark\ cones\ big.jpg"); */
  padding: 15px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 250%;
  border: 2.5px solid black;
  margin: 40px 40px;
}
h2 {
  color: #192965;
  padding: 15px 16px;
  font-size: 170%;
  background-color: #fcf876;
  text-align: center;
  border-radius: 10px;
  border: 0.25px solid black;
  margin: 35px 75px;
}

input[type="number"],
input[type="email"],
input[type="date"],
input[type="text"],
input[type="password"],
select,
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #222831;
  border-radius: 5px;
  margin: 10px;
}

fieldset {
  background-color: #ffff;
  border: 2px solid #ccc;
}
legend {
  padding: 1.5%;
}
.submit {
  width: 75%;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 15px;
  background-color: #a1dd70;
  border-radius: 10px;
  /* font-family: 'Josefin Sans', sans-serif; */
  letter-spacing: 2px;
  font-size: 135%;
  font-weight: bolder;
}

.submit:hover {
  color: #fff;
  cursor: pointer;
}
.up_foot {
  margin-top: 15%;
  width: 100%;
 
}
.large_img {
  border-radius: 12px;
  width: 100%;

}


#footer {
  text-align: center;
  padding-bottom: 2%;
}
.fot-icons i {
    
  background-color: #ffc288;
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
  color:#fff;
  margin: 1% 0.2%;
 
}
.fot-icons  i:hover{
  transform: scale(1.2, 1.2);
}
#footer {
  margin: 10% 0% 0% 0%;
  padding: 2% 0%;
  text-align: center;
  background-color: #ffc288 ;
  color: #fff;
  
}
@media screen and (min-width: 768px) and (max-width: 991px) {
   
  body{
    margin:  4% 2%;
  }
  .logoimg {
    text-align: center;
    float: none;
    margin: 2% 25%;
  }
  /* nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  nav a {
    margin-top: 4px;
    padding: 20px 32px 20px 32px;
  }
  nav a.active {
    margin-top: 4px;
    padding: 10px 32px;
  }
  nav a:hover:not(.active) {
    margin-top: 4px;
    padding: 10px 32px;
  }*/
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  } 
  nav a {
    margin-top: 4px;
    padding: 20px 32px 20px 32px;
  }
  nav a.active {
    margin-top: 4px;
    padding: 10px 32px;
  }
  nav a:hover:not(.active) {
    margin-top: 4px;
    padding: 10px 32px;
  }
}
@media screen and (max-width: 767px) {
  
  body{
     margin: 3.7%;
  }


.logoimg {
  width: 70%;
  text-align: center;
  float: none;
  margin: 5% 17%;
}
/* nav {
 width: 56%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 5%;
  padding: 1% 7%;
  margin: 0% 24%;

}
nav a {

 font-size: 145%;
 margin: 0px 5px;
 float: unset;
 padding: 4% 16% ;
 padding-bottom: 3%;
 margin-top: 10px;
 margin-left: 5px;
 margin-right: 5px;
 border-radius: 15px;
}
nav a.active {

 padding: 4% 16%;
 padding-bottom: 3%;
 margin-top: 10px;
 margin-left: 5px;
 margin-right: 5px;
 border-radius: 15px;
}
nav a:hover:not(.active) {
 padding: 4% 16%;
 padding-bottom: 3%;
 margin-top: 10px;
 margin-left: 5px;
 margin-right: 5px;
 border-radius: 15px;
} */
nav {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
 padding: 2% 3%;
 margin: 0% 24%;
 
}
nav a {

  font-size: 145%;
  margin: 0px 5px;
  float: unset;
  padding: 6% 16% ;
  padding-bottom: 4%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
}
nav a.active {
 
  padding: 6% 16%;
  padding-bottom: 4%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
}
nav a:hover:not(.active) {
  padding: 6% 16%;
  padding-bottom: 4%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
}
.bodyform {
  margin: 7%;
  font-size: 1rem;
}
h1{
  font-size: 200%;
}
.large_img {
  width: 90%;
 margin: 2% 5%;   
  
}
.up_foot {
 margin-top: 15%;
 width: 100%;
}
.fot-icons {
 padding: 10% 10% 1%;
 text-align: center;
}
.fot-icons i {
 font-size: 1rem;
 padding: 1%;
}
#footer {
 font-size: 0.8rem;
 text-align: center;
 padding-bottom: 2%;
}
}